<strong>Olá, {{ student }}</strong>
<p>A sua dúvida foi respondida pelos nossos instrutores, segue informações abaixo: </p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Respondido em: </strong> {{ answer_at }} <br />
  <br />
</p>
