<strong>Olá, {{ student }}</strong>
<p>Seja muito bem vindo a Academia Gympoint, segue abaixo os detalhes do seu plano: </p>
<p>
  <strong>Plano: </strong> {{ plan_name }} <br />
  <strong>Fim do Plano: </strong> {{ date }} <br />
  <strong>Valor Total: </strong> {{ price }} <br />
  <br />
</p>
